<header class="header">
  <div class="header-block container">
    <div class="header-block__inner">
      <a href="#">
        <img src="../assets/images/logo.png" alt="" />
      </a>
    </div>
    <div class="header-block__inner">
      <ul>
        <li>
          <a href="">գլխավոր</a>
        </li>
        <li>
          <a href="">խանոիթ</a>
        </li>
        <li>
          <a href="">մեր մասին</a>
        </li>
        <li>
          <a href="">աշխատանք</a>
        </li>
        <li>
          <a href="">գործընկերներ</a>
        </li>
        <li>
          <a href="">բլոգ</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<main>
  <section class="jobs">
    <div class="jobs-block">
      <div class="container">
        <h1>աշխատանՔ բեկոնոիմ</h1>
        <div class="jobs-block-inner">
          <div class="jobs-block-inner__item">
            <span class="count">27+</span>
            <div class="text-block">
              <img
                src="../../assets/images/header-icons/header-icon-1.svg"
                alt="icon"
              />
              <p>տարի աշխատաշուկայում</p>
            </div>
          </div>
          <div class="jobs-block-inner__item--line"></div>
          <div class="jobs-block-inner__item">
            <span class="count">10+</span>
            <div class="text-block">
              <img
                src="../../assets/images/header-icons/header-icon-2.svg"
                alt="icon"
              />
              <p>տարի միջազգային աշխատաշուկայում</p>
            </div>
          </div>
          <div class="jobs-block-inner__item--line"></div>
          <div class="jobs-block-inner__item">
            <span class="count">350+</span>
            <div class="text-block">
              <img
                src="../../assets/images/header-icons/header-icon-3.svg"
                alt="icon"
              />
              <p>երջանիկ աշխատակից</p>
            </div>
          </div>
          <div class="jobs-block-inner__item--line"></div>
          <div class="jobs-block-inner__item">
            <span class="count">350+</span>
            <div class="text-block">
              <img
                src="../../assets/images/header-icons/header-icon-4.svg"
                alt="icon"
              />
              <p>enps գործատուի առաջխաղացման ցուցանիշ</p>
            </div>
          </div>
          <div class="jobs-block-inner__item--line"></div>
          <div class="jobs-block-inner__item">
            <span class="count">20+</span>
            <div class="text-block">
              <img
                src="../../assets/images/header-icons/header-icon-5.svg"
                alt="icon"
              />
              <p>տարի աշխատաշուկայում</p>
            </div>
          </div>
          <div class="jobs-block-inner__item jobs-block-inner__item--lang">
            <div>en</div>
            <div>en</div>
            <div>en</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mission">
    <div class="container">
      <h2>Բեկոնի առաքելությունը</h2>
      <div class="mission-text-block">
        <p class="mission-text">
          Գործունեությունը սկսելով փոքր արտադրամասում` ընկերությունը ժամանակի
          ընթացքում ընդարձակվել է եւ այսօր գործում է ժամանակակից, միջազգային
          ստանդարտներին համապատասխան մասնաշենքում, որը կառուցվել է 2006թ.
          Ավստրիացի հայտնի մասնագետների կողմից կազմված նախագծով:
        </p>
      </div>
      <div class="for-scroll">
        <div class="mission-block">
          <div class="mission-block__inner">
            <div class="bottom-block">
              <img
                class="mission-icon"
                src="../../assets/images/mission-icon-1.svg"
                alt=""
              />
              <p class="bottom-block-text">
                Անսահման հնարավորություններ մասնագիտական աճի և զարգացման
              </p>
            </div>
          </div>
          <div class="mission-block__inner">
            <div class="bottom-block">
              <img
                class="mission-icon"
                src="../../assets/images/mission-icon-2.svg"
                alt=""
              />
              <p class="bottom-block-text">
                Լինել պատասխանատու հասարակության բոլոր շերտերի առաջ` գիտակցելով
                արտադրանքի կարևորությունը ողջ հասարակության համար
              </p>
            </div>
          </div>
          <div class="mission-block__inner">
            <div class="bottom-block">
              <img
                class="mission-icon"
                src="../../assets/images/mission-icon-3.svg"
                alt=""
              />
              <p class="bottom-block-text">
                Աշխատել արտադրանքի որակի կատարելագործման համար
              </p>
            </div>
          </div>
          <div class="mission-block__inner">
            <div class="bottom-block">
              <img
              class="mission-icon"
              src="../../assets/images/mission-icon-4.svg"
              alt=""
            />
            <p class="bottom-block-text">Լինել նորարար և հասնել միայն ամենաբարձր ցուցանիշներին` ձգտելով նպաստել մսամթերքի հայկական շուկայի զարգացմանը</p>
        
            </div>
          </div>
        </div>
      </div>
      <div class="prev-next">
        <img src="../../assets/images/prev.svg" alt="">
        <img src="../../assets/images/next.svg" alt="">
      </div>
    </div>
  </section>
  <section class="team">
    <div class="container team-block">
      <h2>ՄԵՐ ԹԻՄԸ</h2>
      <div class="team-text-block">
        <p>Գործունեությունը սկսելով փոքր արտադրամասում` ընկերությունը ժամանակի ընթացքում ընդարձակվել է եւ այսօր գործում է ժամանակակից, միջազգային ստանդարտներին համապատասխան մասնաշենքում, որը կառուցվել է 2006թ. </p>
      </div>
    </div>
  </section>
</main>
