@font-face {
    font-family: 'HayRoboto';
    src: url('../fonts/HayRoboto/Mardoto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'HayRoboto';
    src: url('../fonts/HayRoboto/Mardoto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  